<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuccessLogin</title>
</head>
<body>
    <h1 style="{color:#00008b;}">SuccessLogin!!!</h1>
    <div style="width: 100%; padding-bottom: 30px">
        <form class="form-signin" method="post" action="/auth/userinfo">
            <button class="btn btn-lg btn-primary btn-block" type="submit", name="userinfo" value="UserInfo">UserInfo</button>
        </form>
    </div>
    <form class="form-signin" method="post" action="/auth/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">logout</button>
    </form>
</body>
</html>